.features {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-background-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features-hidden-title {
  display: none;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--secondary-title-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
