.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.footer__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.offer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.footer__form {
  margin-left: 93px;
}

.form__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
}

.footer-form__label {
  display: flex;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  align-items: center;
  justify-content: center;

  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  color: rgba(255, 255, 255, 0.3);
}

.footer__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;

  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  display: flex;
}

.form-button__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  padding-left: 29px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: 10px;
}
