.hero {
  background-color: var(--hero-primary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background-hero.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  margin: 0 auto;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.hero__button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: transparent;
  justify-content: center;

  margin-top: 30px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button__light {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}
