.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal {
  padding: 40px;
}

.modal__btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form__field {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.modal-form__field-text {
  color: #757575;
}

.modal-form__wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  width: 100%;
  height: 40px;

  padding-left: 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-form--input:focus {
  border-color: var(--accent-color);
}

.modal-form--input:focus + .modal-form--icon {
  fill: var(--accent-color);
}

.modal-form--wrapper:focus {
  fill: var(--accent-color);
}

.modal-form--input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  width: 13px;
  height: 13px;
}

.modal-form--icon {
  width: 15px;
  height: 12px;
}

.modal-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form__icon-name {
  width: 12px;
  height: 12px;
}

.modal-form__message {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;
  display: block;

  resize: none;
}

.modal-form__message::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-form__message:focus {
  border-color: var(--accent-color);
}

.modal-form__checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8.328px;
}

.modal-form--checkbox:checked + .modal-form--checkbox--label::before {
  background-image: url(../img/icon-check.svg);
  border-color: var(--accent-color);
  border: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-form--checkbox:focus + .modal-form--checkbox--label::before {
  outline: 1px solid var(--header-text-color);
}

.policy__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.policy-accept {
  display: flex;
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);

  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71px;
  }
}

.modal-form__button {
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__special-button {
  justify-content: center;
  align-items: center;
  display: flex;
}
