.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social--link:hover,
.social--link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social--link:hover .social__icon,
.social--link:focus .social__icon {
  fill: #ffffff;
}

.social {
  display: flex;
  justify-content: center;
}

/*----FOOTER----*/

.social__list {
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: center;
    align-items: center;
  }
}

.social-item__footer {
  width: 44px;
  height: 44px;
}

.social-item__footer:not(:last-child) {
  margin-right: 10px;
}

.social-link__footer {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-link--footer:hover,
.social-link--footer:focus {
  background-color: var(--accent-color);
}

.social-link--footer {
  fill: #ffffff;
}

.social-icon__footer {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-link--footer:hover .social__icon,
.social-link--footer:focus .social__icon {
  fill: #ffffff;
}
