.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container__header {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.special-container__footer {
  margin-right: 70px;
  flex-grow: 1;
}

.footer-form__container {
  display: flex;
}

.container__form-button {
  justify-content: center;
  align-items: center;
  display: flex;
}
