.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container__header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.special-container__footer {
  margin-right: 70px;
  flex-grow: 1;
}

.footer-form__container {
  display: flex;
}

.container__form-button {
  justify-content: center;
  align-items: center;
  display: flex;
}
